.sidepush-main {
  background-color: #242424;
  height: 105vh;
}
.sidepush-sub {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
}
.header-contain {
  border-bottom: 1px solid #938021;
  width: 400px;
}
.ui.header.device-Header {
  font-family: "Titillium Web";
  font-size: 2em;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 0.5em;
  color: #e4bf08;
}

.ui.segment.device-segment {
  width: 27em;
  height: auto;

  background-color: #000000;
  border-radius: 15px;
}

.dev-div-render {
  display: inline-block;
  margin-right: 2em;
}
.lightbulb.huge.icon.render-icon {
  color: #e4bf08;
  margin-top: -1.5em;
}
.nintendo.switch.huge.icon.render-icon
{
    color: #e4bf08;
    margin-top: -1.5em;
}
.ui.header.device-render-main {
  font-family: "Titillium Web";
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  color: #e4bf08;
  white-space: nowrap;
}
.ui.header.device-render {
  font-family: "Titillium Web";
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #e4bf08;
  white-space: nowrap;
}
.device-grid-contain {
  margin-top: 2em;
  padding-left: 1em;
}
.render-status {
  color: #08e443;
}
.render-status-off
{
    color:red;
}